html {
  scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
  }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}  
  
a {
    text-decoration: none;
    color: black;
}

li {
  list-style: none;
}

h1, h2, p, ul {
  margin: 0;
  padding: 0;
}
/* header */
nav{
  background: white;
  height: 80px;
  width: 100%;
  padding: 0 80px;
  position: fixed;
  z-index: 10;
}
nav img {
  width: 300px;
}
nav ul{
  float: right;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
}
nav ul li a{
  color: black;
  font-size: 17px;
  padding: 31px 30px;
  text-transform: uppercase;
  transition: .5s;
}
nav ul li a:hover{
  background-color: #d5d3da;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

/* top wrapper */
.top-wrapper {
  color: white;
  font-family: sans-serif;
  padding: 180px 0 100px 100px;
  background-image: url(./img/banner);
  background-size: cover;
  width: 100%;
  height: 650px;
  margin-bottom: 20px;
  transition: 1.5s;
}

.top-wrapper h1 {
  opacity: 0.9;
}

.top-wrapper a {
  margin-top: 20px;
}

.special {
  color: #fe7a83;
}

/* content x1 */
.profiles {
  padding-top: 80px;
  margin: -80px 25px;
}
.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.circle-avatar {
  border: 2px solid black;
  border-radius: 8px;
  width: 270px;
  height: 300px;
  flex-grow: initial;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
}

.circle-avatar:hover {
  width: 270px;
  height: 353px;
  transition: 0.5s;
}

.circle-avatar img {
  width: 270px;
  height: 300px;
}

.nama-profile {
  color: white;
  background-color: rgba(9, 56, 92, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}

.nama-profile {
  text-align: center;
}

.title-profile h1 {
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
  font-size: 40px;
}

.title-co-leader {
  padding: 50px 10px 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
}

.co-leader {
  display: flex;
  flex-direction: row;
}

.column-co-leader {
  display: flex;
  flex-direction: column;
  padding: 25px;
  overflow: hidden;
}

/* content x2 */
.content {
  display: flex;
  justify-content: space-between;
  margin: 30px 45px;
}
.text-special {
  padding-top: 80px;
}

.content img {
  width: 50%;
}

.content .text {
  font-family: sans-serif;
  width: 50%;
  padding: 30px;
}
.content .text h1, p {
  margin-bottom: 10px;
}

.btn {
  padding: 12px 24px;            
  color: white;            
  display: inline-block;            
  opacity: 0.8;            
  border-radius: 4px;
  background-color: #15d61f;
  transition: all 0.5s;
  cursor: pointer;
}

.btn:hover {            
  background-color: #3e8e41;
  color: white; 
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

/* Contact */
.contact-form {
  margin: 60px 80px;
  display: flex;
  justify-content: space-between;
}
.contact-form-input {
  width: 50%;
  padding-right: 20px;
}
.contact-form-info {
  width: 50%;
  padding-left: 20px;
}
.contact-form-info h1 {
  font-family: sans-serif;
  color: #2f00a6;
  margin-bottom: 30px;
}

.contact-input {
  font-family: sans-serif;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #eeeeee;
  border: 0;
}
.submit-input {
  width: 30%;
  font-size: 18px;
  color: white;
  background-color: #2f00a6;
}

.contact-form-pesan {
  display: flex;
  flex-direction: column;
}
.contact-form-pesan span {
  margin-bottom: 10px;
}
.contact-form-pesan a {
  width: 200px;
}







/* footer */
footer {
  background-color: white;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

footer img {
  width: 300px;
}

.footer-border {
  margin: 0 auto;
  width: 90%;
  border-bottom: 2px solid white;
}

.media-sosial {
  background-color: #2f00a6;
  padding: 30px 0 15px 0;
  text-align: center;
}

.btn-media-sosial {
  background-color: white;
  padding: 12px;
  border-radius: 10px;
}

.btn-media-sosial:hover {
  color: pink;
}

.copyright {
  background-color: #2f00a6;
  font-family: sans-serif;
  text-align: center;
  color: white;
}